*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(198, 159, 236);
    font-family: 'Times New Roman', Times, serif;
    color: black;

}
/* prueba de nav burger */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5e4b8c; /* Color morado */
    padding: 10px 20px;
    height: 170px;
}

.logo img {
    height: 100%; /* Ajusta el tamaño del logo */
    width: 100%;
    margin-top: -10px; /* Ajusta este valor según sea necesario */
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger .line {
    height: 3px;
    width: 25px;
    background-color: white; /* Color de las líneas del burger */
    margin: 4px 0;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 55px;
    margin-bottom: 40px;
}

.nav-links a {
    color: white; /* Color del texto */
    text-decoration: none;
}
/* preuba fin */



footer {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr; 
    gap: 20px; 
    padding: 20px;
    background-color:#f2bf7d; 
    color: white; 
    text-align: left; 
}

footer img {
    max-width: 100%; 
    height: auto; 
}

.segundo-parrafo, .tercer-parrafo {
    margin-top: 20px; 
    
}


.titulo{
    font-size: 30px;
}

.parrafo{
    font-size: 20px;
    margin-bottom: 0px;
}

h2 { 
    font-size: 80px; 
    margin: 20px;
    
}

p{
    font-size: 30px;
    margin: 20px;
    margin-bottom: 100px;
}

.tips-lista{
    font-size: 30px;
    margin: 20px;

    li{
     margin-bottom: 50px;
    }
}

.icons {
    display: flex; 
    gap: 10px; 
    margin-top: 10px; 
}


.icons img {
    width: 30px; 
    height: auto; 
}

.boton, .boton2 {
    color: whitesmoke;
    background-color: #bb965f;
    padding: 10px 50px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
}

img {
    max-width: 50%; 
    height: auto;
    margin: 40px;
}

.video{
   margin: 30px;
}

.imagen-tips{
    width: 300%;
}


@media (max-width: 768px) {
    .boton, .boton2 {
        width: 100%; 
        box-sizing: border-box; 
    }

    img{
        height: auto;
        max-width:100%;
        margin: 0;
    }
    h2{
        font-size:250%;  
    }

    p{
        font-size: 120%;
    }
    
    .titulo{
        font-size: 200%;
    }

    .parrafo{
        font-size: none;
    }

    iframe {
        width: 100%; 
    }

    section {
        padding: 15px; 
    }

    footer {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .icons img {
        width: 50px; 
        margin: 5px; 
    }

    .video{
        margin: 0px;
    }
}

@media (max-width: 768px) {
    .burger {
        display: flex;
        align-items: center; /* Alinea el burger verticalmente */
        margin-top: 5px; /* Ajusta este valor para mover el burger hacia arriba */
        margin-left: auto; /* Alinea el burger a la derecha */
        cursor: pointer; /* Asegúrate de que el cursor cambie al pasar sobre el burger */
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #5e4b8c; /* Color morado */
        top: 40px; /* Ajusta según el tamaño del navbar */
        right: 0;
        width: 100%;
    }
    
    .nav-links.active {
        display: flex;
    }
    .logo img {
        height: 10%;
        width: 40%;
        margin-top: 20px; /* Ajusta este valor según sea necesario */
    }
    
}