@import "base/reset";
@import "base/typography";
@import "components/buttons";
@import "components/footer";
@import "components/icons";
@import "components/navbar";
@import "components/tips-list";
@import "utilidades/mixins";
@import "utilidades/variables";

// Media Queries
@media (max-width: 768px) {
    .boton, .boton2 {
        width: 100%; 
        box-sizing: border-box; 
        margin-left: 0;
        margin-bottom: 50px;
        padding: 20px 5px;
    }

    .navbar {
        .burger {
            display: flex;
        }

        .nav-links {
            display: none;
            flex-direction: column;
            position: absolute;
            background-color: $primary-color;
            top: 40px; 
            right: 0;
            width: 100%;

            &.active {
                display: flex;
            }
        }

        .logo img {
            height: 10%;
            width: 40%;
            margin-top: 20px; 
        }
    }
}
